@charset "utf-8";
/* CSS Document */

#welcome {
	margin: 10px auto;
	margin-top: 70px;
}

#welcomecontent {
	background-color: #e6e6e6;
	margin: 0 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 20px;
	padding-bottom: 5%;
}

#welcomecontent p {
	text-align: left;
}

#profilepicture {
	width: 145px;
	height: 171px;
	margin-right: 20px;
	float: left;
	margin-bottom: 30px;
}