@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

iframe {
	width: 100%;
	height: inherit;
	margin: 0 auto;
	height: 80%;
}

#download {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

#download a {
	text-decoration: none;
	font-size: 150%;
	background-color: #000;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

li:nth-child(5) a {
	color: #f60;
}

@media (max-width: 780px) {
	li:nth-child(4) a {
		color: #f60;
	}
}