/**************************************************
    Bootstrap overrides
**************************************************/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: none;
    color: #FFFF19;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    color: #CCCC14;
    border: 1px solid #CCCC14;
}

.nav-tabs > li > a {
    color: white;
}

#home .nav > li > a, #skills .nav > li > a {
    padding-right: 5px;
    padding-left: 5px;
}

#home .nav > li > a, #skills .nav > li > a {
    background-color: transparent;
}

#home .nav > li > a:focus, #skills .nav > li > a:focus {
    background-color: transparent;
}

#home .nav > li > a:hover, #skills .nav > li > a:hover {
    background-color: transparent;
}

#home .tab-content, #skills .tab-content {
    border: 1px solid #FFFF19;
}

/**************************************************
    End Bootstrap overrides
**************************************************/
.trap-expand {
    height: 125px;
}

.trapezoid {
    display: inline-block;
}

.trap-text {
    position: absolute;
    top: 60px;
    left: 68px;
    z-index: 101;
}

.left-top-trap {
    position: absolute;
    top: 25px;
    left: 7px;
    width: 0;
    height: 100px;
    z-index: 100;
    border-right: 50px solid #000000;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

.left-bot-trap {
    position : absolute;
    width    : 0;
    height   : 100px;
    z-index  : 99;
    border-right: 50px solid #FFFF19;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

.right-top-trap {
    position: absolute;
    top: 25px;
    left: 118px;
    width: 0;
    height: 100px;
    z-index: 100;
    border-left: 50px solid #000000;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

.right-bot-trap {
    position : absolute;
    left: 120px;
    width    : 0;
    height   : 100px;
    z-index  : 99;
    border-left: 50px solid #FFFF19;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

.active > .trap-expand > .trapezoid > .right-top-trap {
    -webkit-animation: nav-top-trap-expand .25s ease-out;
}

.active > .trap-expand > .trapezoid > .right-bot-trap {
    -webkit-animation: nav-bot-trap-expand .25s ease-out;
}

@-webkit-keyframes nav-top-trap-expand {
    0% {
        left: 55px;
    }

    100% {
        left: 118px;
    }
}

@-webkit-keyframes nav-bot-trap-expand {
    0% {
        left: 57px;
    }

    100% {
        left: 120px;
    };
}

body {
	background-color: #000000;
}

.content {
    width: 278px;
    margin: 0;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    padding: 30px 0 30px;
}

.col {
    width: 280px;
}

#skill {
    list-style: none;
    padding-top: 30px;
}

#skill li {
    margin-bottom: 70px;
    background: #000;
    height: 5px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

#skill li em {
    position: relative;
    top: -30px;
}

.expand {
    height: 1px;
    margin: 2px 0;
    background: #bd8f3a;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #bd8f3a;
}

.html5 {
    width: 70%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.css3 {
    width: 90%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.jquery {
    width: 50%;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}

@-moz-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}

@-moz-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}


@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}

@-webkit-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}